.socials{
    display: flex;
    justify-content: space-around;

    i{
        transition: color 600ms ease-in-out;
        cursor: pointer;
        &:hover{
            color: $primaryTextColorYellow;
        }
    }
}

.cardStyle{

padding-top:70px;
text-align: left;
img{
    margin-top:-50px ;
}

// &:hover{
//     background: $primaryTextColorYellow;
//     color: #fff;
// }
}

.cardStyleBody{
    
&:hover{
    
        background: $primaryTextColorYellow;
        color: #fff;
    }
}
