.teamContainer{
    background: #56687a;
    // margin: 0;
    position: relative;
    h2{color: #fff;}

}
.socials{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;

    i{
        transition: color 600ms ease-in-out;
        cursor: pointer;
        &:hover{
            color: $primaryTextColorYellow;
        }
    }
}


.cardStyle{

padding-top:90px;
text-align: center;
font-weight: bold;
img{
    margin-top:-50px ;
}

// &:hover{
//     background: $primaryTextColorYellow;
//     color: #fff;
// }
}

.cardStyleBody{
    
&:hover{
    
        background: $secondaryBgColor;
        color: #fff;
    }
}
